*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
  background-color: #eef6ff;
}

.header {
  background-color: #1e3a8a;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.logo span {
  color: #38bdf8;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  background: white;
  border-radius: 20px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 40px;
  color: #1e3a8a;
}

.hero-text p {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
}

.hero-text button {
  margin-top:15px;
  padding: 12px 25px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* IMAGE — THIS MAKES IT BIG */
.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* Appointment button */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .appointment-btn {
    text-decoration: none;
    background: linear-gradient(135deg, #4CAF50, #2E7D32);
    color: white;
    padding: 8px 18px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }
 
  .appointment-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  }

  .appointment-btn:active {
    transform: scale(0.97);
  }
    /* Appointment form */
    
.appointment-container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.appointment-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
 
button {
  padding: 12px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #555;
}
