*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
  background-color: #eef6ff;
}

.header {
  background-color: #1e3a8a;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.logo span {
  color: #38bdf8;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  background: white;
  border-radius: 20px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 40px;
  color: #1e3a8a;
}

.hero-text p {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
}

.hero-text button {
  margin-top:15px;
  padding: 12px 25px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* IMAGE — THIS MAKES IT BIG */
.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #555;
}
