*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
  background-color: #eef6ff;
}

.header {
  background-color: #1e3a8a;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.logo span {
  color: #38bdf8;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  background: white;
  border-radius: 20px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 40px;
  color: #1e3a8a;
}

.hero-text p {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
}

.hero-text button {
  margin-top:15px;
  padding: 12px 25px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* IMAGE — THIS MAKES IT BIG */
.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* Appointment button */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .appointment-btn {
    text-decoration: none;
    background: linear-gradient(135deg, #4CAF50, #2E7D32);
    color: white;
    padding: 8px 18px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }
 
  .appointment-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  }

  .appointment-btn:active {
    transform: scale(0.97);
  }

/* our services */
.services-section{
padding:80px 10%;
background:#f7f7f7;
}

.services-header{
text-align:center;
max-width:700px;
margin:auto;
margin-bottom:60px;
}

.services-header h2{
font-size:36px;
color:#0a6d6d;
}

.line{
width:60px;
height:3px;
background:#ff6b3d;
margin:15px auto;
}

.services-header p{
color:#666;
line-height:1.6;
}


.services-content{
display:flex;
align-items:center;
gap:60px;
}


.services-image img{
width:720px;
border-radius:10px;
margin-left:-140px;
}


/* CARDS IN A ROW */
.services-cards{
display:flex;
gap:25px;
}


/* CARD DESIGN */
.card{
background:white;
padding:25px;
border:2px solid #0a6d6d;
border-radius:8px;
width:250px;
}

.card h3{
margin-bottom:10px;
}

.card p{
font-size:14px;
margin-bottom:10px;
}

.card a{
text-decoration:none;
font-weight:bold;
color:#444;
}
.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 20px rgba(0,0,0,0.15);
transition:0.3s;
}

    /* Appointment form */
    
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px;
}

.appointment-container {
  width: 400px;
  margin: 80px 0;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border:10px solid #126024;  
}

.appointment-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
 
button {
  padding: 12px;
  background: #0ea5e9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* appointment form right side image */
.image-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.image-container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}



/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #555;
}
